/*
    You can add your own custom styles here.
*/

/* Default styles for desktop */
.responsiveVideo {
    width: 75%;
    height: auto;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .responsiveVideo {
        width: 100%;
        height: auto;
    }
}